$mellow-icon-color: #666;

body {
  padding-top: 70px;
}

h5.category-header {
  color: #1010C2;
  font-weight: normal;
  cursor: pointer;

  &.active-category {
    font-weight: bold;
  }
}

.corpus-info {
  margin-bottom: 50px;
}

.minmax-field {
  width: 20px;
}

.multiword-search-form {
  /*.btn.interval {*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
  /*}*/
  .multiword-table {
    display: table;
  }

  .multiword-word {
    display: table-cell;

    &> .control-group {
      display: table;
      margin-bottom: 7px;

      div.interval {
        display: table-cell;
        vertical-align: bottom;
        padding-right: 10px;

        input.interval {
          height: 10px;
          width: 12px;
          font-size: 12px;
        }

        h6 {
          margin-top: 0;
          margin-bottom: 2px;
        }
      }

      div.word {
        display: table-cell;
        vertical-align: bottom;
      }

      div.add-search-word {
        display: table-cell;
        vertical-align: bottom;
        padding-left: 10px;
        padding-bottom: 2px;
      }
    }
  }
}

.result-spinner {
  margin-top: 40px;
}

.row-fluid {
  /* Remove the left margin when we collapse the sidebar */
  .no-sidebar {
    margin-left: 0;
  }
}

.search-input-links {
  margin-bottom: 10px;
}

.search-result-table-container {
  height: 500px;
  overflow: auto;

  table {
    td:nth-child(2) {
      width: 50%;
      text-align: right;
    }

    td:last-child {
      width: 50%;
    }
  }
}

.top-toolbar > button {
  margin-bottom: 20px;
  margin-right: 5px;
  width: 75px;
}

 // Override bootstrap.css

.form-inline input.multiword-field {
  width: 108px;
}

.pagination {
  margin-top: 0;
  margin-bottom: 10px;
}

.pagination ul > li > a, .pagination ul > li > span {
  line-height: 26px;
}

.pagination ul > li > span.paginator-counter {
  padding: 0;

  input {
    margin: 0;
    height: 24px;
    vertical-align: top;
    text-align: right;
  }
}

// Override font-awesome.css

.icon-cog:before {
  color: $mellow-icon-color;
}

.icon-minus:before {
  color: $mellow-icon-color;
}

.icon-plus:before {
  color: $mellow-icon-color;
}

// Override select2.css

.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 6px;
}
