body {
  padding-top: 70px;
}

#hide-criteria-button {
  margin-bottom: 10px;
}

.corpus-info {
  margin-bottom: 50px;
}

.row-fluid {
  /* Remove the left margin when we collapse the sidebar */
  .no-sidebar {
    margin-left: 0;
  }
}

.search-result-table-container {
  height: 500px;
  overflow: auto;

  table {
    td:nth-child(2) {
      width: 50%;
      text-align: right;
    }

    td:last-child {
      width: 50%;
    }
  }
}

 /* Override settings in bootstrap.css */
.pagination {
  margin-top: 0;
  margin-bottom: 10px;
}

.pagination ul > li > a, .pagination ul > li > span {
  line-height: 25px;
}

.pagination ul > li > span.paginator-counter {
  padding: 0;

  input {
    margin: 0;
    height: 16px;
    vertical-align: top;
    text-align: right;
  }
}
