body {
  padding-top: 70px;
}

h5.category-header {
  color: #1010C2;
  font-weight: normal;
  cursor: pointer;

  &.active-category {
    font-weight: bold;
  }
}

.corpus-info {
  margin-bottom: 50px;
}

.result-spinner {
  margin-top: 50px;
}

.row-fluid {
  /* Remove the left margin when we collapse the sidebar */
  .no-sidebar {
    margin-left: 0;
  }
}

.search-result-table-container {
  height: 500px;
  overflow: auto;

  table {
    td:nth-child(2) {
      width: 50%;
      text-align: right;
    }

    td:last-child {
      width: 50%;
    }
  }
}

.top-toolbar > button {
  margin-bottom: 20px;
  margin-right: 5px;
  width: 75px;
}

 /* Override settings in bootstrap.css */
.pagination {
  margin-top: 0;
  margin-bottom: 10px;
}

.pagination ul > li > a, .pagination ul > li > span {
  line-height: 26px;
}

.pagination ul > li > span.paginator-counter {
  padding: 0;

  input {
    margin: 0;
    height: 24px;
    vertical-align: top;
    text-align: right;
  }
}

// Override select2.css

.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 6px;
}
