log/*.log
tmp/**/*
.bundle
db/*.sqlite3
config/database.yml
config/cwb.yml
*~
*#
lib/sproutcore/tmp
lib/sproutcore/.sass-cache
lib/sproutcore/frameworks/sproutcore
lib/sproutcore/frameworks/ki
lib/sproutcore_handlebars/tmp
lib/sproutcore_handlebars/.sass-cache
lib/sproutcore_handlebars/frameworks/sproutcore
lib/sproutcore_handlebars/frameworks/ki
public/javascripts/appscripts.js
doc
.idea
obs_reset_app
start.sh
restart.sh
