<div class="row-fluid corpus-info">
  <div class="span12">
    <div class="well">
      <h2>{{corpus.name}}&nbsp;&nbsp;&nbsp;<img class="corpus-image" src="http://bestclipartblog.com/clipart-pics/book-clip-art-3.png"></h2>
    </div>
  </div>
</div>
