<div class="row-fluid corpus-info">
  <div class="span12">
    <div class="well">
      <h2>
        {{{corpus.name}}}
        {{#if corpus.logo}}
        &nbsp;&nbsp;&nbsp;<img class="corpus-logo" {{bindAttr src="corpus.logo"}}>
        {{/if}}
      </h2>
    </div>
  </div>
</div>
