<div class="row-fluid">
  <div class="pull-left">
    <button class="btn btn-small"><i class="icon-download-alt"></i>
      <%= I18n.t('rglossa.save') %></button>
    <button class="btn btn-small"><i class="icon-pencil"></i>
      <%= I18n.t('rglossa.search_results.annotate') %></button>
    <button class="btn btn-small"><i class="icon-th-list"></i>
      <%= I18n.t('rglossa.search_results.statistics') %></button>
    <button class="btn btn-small">
      <%= I18n.t('rglossa.search_results.metadata') %></button>
  </div>
  {{#if hasMoreThanOnePage}}
  <div class="pagination pagination-right">
    <ul>
      <li {{bindAttr class="isShowingFirstPage:disabled"}}>
        <a {{action showFirstPage target="controller"}}>&laquo;&laquo;</a>
      </li>
      <li {{bindAttr class="isShowingFirstPage:disabled"}}>
        <a {{action showPreviousPage target="controller"}}>&laquo;</a>
      </li>
      <li><span>Page</span></li>
      <li><span class="paginator-counter">{{view App.CurrentPaginatorPageView}}</span></li>
      <li><span>of {{numPages}} pages</a></li>
      <li {{bindAttr class="isShowingLastPage:disabled"}}>
        <a {{action showNextPage target="controller"}}>&raquo;</a>
      </li>
      <li {{bindAttr class="isShowingLastPage:disabled"}}>
        <a {{action showLastPage target="controller"}}>&raquo;&raquo;</a>
      </li>
    </ul>
  </div>
  {{/if}}
</div>
