<div class="row-fluid">

  <%# Begin action buttons %>

  <div class="pull-left">
    <button class="btn btn-small"><i class="icon-download-alt"></i>
      <%= I18n.t('rglossa.save') %></button>
    <button class="btn btn-small"><i class="icon-pencil"></i>
      <%= I18n.t('rglossa.search_results.annotate') %></button>
    <button class="btn btn-small"><i class="icon-th-list"></i>
      <%= I18n.t('rglossa.search_results.statistics') %></button>
    <button class="btn btn-small">
      <%= I18n.t('rglossa.search_results.metadata') %></button>
  </div>

  <%# End action buttons %>

  <%# Begin result paginator %>

  {{#if hasMoreThanOnePage}}
  <div class="pagination pagination-right">
    <ul>
      <li {{bindAttr class="isShowingFirstPage:disabled"}}>
        <a {{action showFirstPage}}>&laquo;&laquo;</a>
      </li>
      <li {{bindAttr class="isShowingFirstPage:disabled"}}>
        <a {{action showPreviousPage}}>&laquo;</a>
      </li>
      <li><span>Page</span></li>
      <li><span class="paginator-counter">{{view App.CurrentPaginatorPageView}}</span></li>
      <li><span>of {{numPages}} pages</a></li>
      <li {{bindAttr class="isShowingLastPage:disabled"}}>
        <a {{action showNextPage}}>&raquo;</a>
      </li>
      <li {{bindAttr class="isShowingLastPage:disabled"}}>
        <a {{action showLastPage}}>&raquo;&raquo;</a>
      </li>
    </ul>
  </div>
  {{/if}}

  <%# End result paginator %>

</div>
