<form class="span12" style="margin-top: 50px">
  <div class="input-append span10">
    {{view Em.TextField class="span12" valueBinding="queryInputValue"}}
    <button type="submit" class="btn" {{action search}}>Search</button>
  </div>
</form>
