<div class="row-fluid search-result-table-container">
  <table class="table table-striped table-bordered">
    {{#each result in arrangedContent}}
    <tr>
    {{#if result.sId}}
      <td>{{{result.sId}}}</td>
    {{/if}}
        {{#if corpusHasSound}}
      <td class="span1"><i class="icon-volume-up"></i></td>
    {{/if}}
      <td>{{{result.preMatch}}}</td>
      <td>{{{result.match}}}</td>
      <td>{{{result.postMatch}}}</td>
    </tr>
    {{/each}}
  </table>
</div>
