<div class="multiword-table">
  <div class="multiword-word">
    <div class="control-group">
      <div style="display:table-row">
        <div class="interval">
          <h6>Interval</h6>
          {{view Em.TextField class="interval"}} min<br>
          {{view Em.TextField class="interval"}} max
        </div>
        <div class="input-prepend input-append word">
          <span class="add-on" title="Search options"><i class="icon-cog"></i></span>
          {{view Em.TextField class="searchfield multiword-field" valueBinding="word"}}
          <span class="add-on" title="Remove word"><i class="icon-minus"></i></span>
        </div>
        <div class="add-search-word" style="display:none">
          <button class="btn btn-small" title="Add search word">
            <i class="icon-plus"></i>
          </button>
        </div>
      </div>
      <div style="display:table-row">
        <div class="interval-filler" style="display:table-cell">
        </div>
        <div class="word-checkboxes">
          <label class="checkbox">
            <input type="checkbox" title="Lemma (base form)"> Lemma
          </label>
          &nbsp;
          <label class="checkbox">
            <input type="checkbox" title="Start of word"> Start
          </label>
          &nbsp;
          <label class="checkbox">
            <input type="checkbox" title="End of word"> End
          </label>
        <div style="display:table-cell">
        </div>
      </div>
    </div>
  </div>
</div>
