{{partial "corpus/home/corpus_info"}}

{{render "cwb/search_inputs"}}

<div class="row-fluid">
    <div class="span5"></div>
    <div class="span2 result-spinner" style="display:none">
      {{view App.SpinnerView}}
    </div>
    <div class="span5"></div>
</div>
