<div class="row-fluid">

    <form class="form-inline multiword-search-form">
        {{#each term in view.displayedQuery}}
          {{partial "cwb/multiword_term"}}
        {{/each}}
    </form>
</div>
