<div class="row-fluid">

  <form class="form-inline multiword-search-form">
    <div style="display:table">
      <div style="display:table-row">
        {{#each term in displayedQuery}}
        {{render "cwb/multiword_term" term}}
        {{/each}}
        <div style="display:table-cell">
          <button type="submit" class="btn" data-search {{action search}}>Search</button>
        </div>
      </div>
    </div>
  </form>
</div>
