<div class="row-fluid">

  <form class="span12">
    <div class="input-append span10">
      {{view Em.TextField class="searchfield span12" valueBinding="view.displayedQuery"}}
      <button type="submit" class="btn" data-search {{action search}}>Search</button>
    </div>
  </form>
</div>
