body {
  padding-top: 70px;
  padding-bottom: 40px; }

.app-footer {
  height: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #525252;
  z-index: 10; }

.app-footer .textlab-logo {
  float: right; }

h5.category-header {
  color: #1010C2;
  font-weight: normal;
  cursor: pointer; }
  h5.category-header.active-category {
    font-weight: bold; }

.corpus-logo {
  width: 100px;
  margin-left: 30px; }

.corpus-info {
  margin-bottom: 40px; }

.corpus-part-name {
  margin-left: 20px; }

.counting-matches {
  margin-top: 6px; }

.multiword-container {
  margin-top: 10px;
  margin-bottom: 30px; }

.speaker-id {
  color: #777; }

.spinner-searching-large {
  background-image: url(spinner-large.gif);
  width: 66px;
  height: 66px;
  margin-left: 250px;
  margin-top: 70px; }

.spinner-searching-small, .spinner-counting-matches {
  background-image: url(spinner-small.gif);
  width: 16px;
  height: 16px;
  margin: 2px 8px 0px 0;
  float: left; }

.spinner-counting-matches {
  margin-top: 14px; }

.minmax-field {
  width: 20px; }

div.interval {
  display: table-cell;
  vertical-align: top;
  padding-left: 14px;
  padding-right: 14px; }
  div.interval input.interval {
    width: 25px;
    height: 25px;
    padding: 0px 4px;
    margin: 0px 5px 8px 0px;
    text-align: right; }
  div.interval h6 {
    margin-top: 0;
    margin-bottom: 2px; }

.metadata-category {
  margin-top: 10px;
  margin-left: 10px; }

.multiword-search-form .multiword-term .control-group {
  display: table; }
  .multiword-search-form .multiword-term .control-group div.word {
    display: table-cell;
    vertical-align: bottom; }
  .multiword-search-form .multiword-term .control-group div.word-checkboxes {
    margin-top: 5px; }

.multiword-search-form button.search {
  margin-left: 20px;
  margin-bottom: 22px; }

.pos-feature-heading {
  padding: 2px 20px 7px 20px;
  margin-top: 5px;
  font-variant: small-caps;
  font-size: 130%;
  font-weight: bold;
  color: #555;
  background-color: #eee; }
  .pos-feature-heading:first-of-type {
    margin-top: 0; }

.remove-row-btn-container {
  width: 40px;
  vertical-align: middle; }

.row-fluid {
  /* Remove the left margin when we collapse the sidebar */ }
  .row-fluid .no-sidebar {
    margin-left: 0; }
  .row-fluid input.max-hits[class*="span"] {
    margin-top: 7px;
    margin-left: 2px;
    vertical-align: baseline; }

.search-input-links {
  margin-bottom: 10px; }

.search-result-table-container table td.left-context {
  width: 50%;
  text-align: right; }

.search-result-table-container table td.right-context {
  width: 50%; }

.search-result-table-container table td.aligned-text {
  font-style: italic; }
  .search-result-table-container table td.aligned-text span.aligned-id {
    color: #999; }

.search-result-table-container table td.match {
  font-weight: bold; }

.sidebar {
  transition: width 0.1s; }
  .sidebar.sidebar-enter {
    width: 0 !important; }
  .sidebar.sidebar-leave-active {
    width: 0 !important; }

.table-display {
  display: table !important; }

.table-row {
  display: table-row !important; }

.table-cell {
  display: table-cell !important; }

.multiword-term .tag-list {
  left: 0;
  top: 5px; }

.tag a {
  color: white;
  opacity: 0.8; }

.tag.label {
  line-height: 17px; }

.row-fluid script:first-child + [class*="span"] {
  margin-left: 0; }

.multiword-field {
  width: 108px !important; }

.pagination {
  margin-top: 0;
  margin-bottom: 10px; }

.pagination ul > li > a, .pagination ul > li > span {
  line-height: 26px; }

.pagination ul > li > span.paginator-counter {
  padding: 0; }
  .pagination ul > li > span.paginator-counter input {
    margin: 0;
    height: 24px;
    vertical-align: top;
    text-align: right; }

.metadata-category .select2-container {
  margin-top: 5px; }

.metadata-category .close-cat-btn {
  margin-left: 10px; }
