<!-- Navbar ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">Glossa</span>
      <ul class="nav">
        <li><a href="#">My results</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      {{outlet leftSidebar}}

    </div>
    <div class="span9">
      <div class="row-fluid">
        <div class="span12">

          {{outlet corpusInfo}}

        </div>
      </div>
      <div class="row-fluid">
        <form class="span12" style="margin-top: 50px">
          <div class="input-append span10">
            <input type="text" class="span12">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
