<!-- Navbar ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">Glossa</span>
      <ul class="nav">
        <li><a href="#">My results</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">han <i>verb</i></a></li>
      <li><a href="#tab2" data-toggle="tab"><i>subst,mask,fl</i> er</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="row-fluid">
          <div class="span3">

            <!-- Sidebar ================================================== -->
            <div class="accordion">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a href="#collapseOne" class="accordion-toggle" data-toggle="collapse" data-parent="metadata-accordion">
                    Title
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <select multiple="multiple" style="width:180px">
                      <option value="">Arbeid, velferd og inkludering</option>
                      <option value="">Cultural Studies</option>
                      <option value="">Fiks PCen på fem minutter</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a href="#collapseTwo" class="accordion-toggle" data-toggle="collapse" data-parent="metadata-accordion">
                    Publisher
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <select name="" id="" multiple="multiple" style="width:180px">
                      <option value="">Gyldendal</option>
                      <option value="">Aschehoug</option>
                      <option value="">Cappelen</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span9">
            <div class="row-fluid">
              <div class="span8">
                <div class="well">

                  <!-- Corpus name ================================================== -->
                  <h2>Leksikografisk bokmålskorpus</h2>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <form class="span12" style="margin-top: 50px">
                <div class="input-append span7">
                  <input type="text" class="span12">
                  <button type="submit" class="btn">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <p>Søkegrensesnitt for fane 2</p>
      </div>
    </div>
  </div>
</div>
