<div class="row-fluid">

  <form class="form-inline span12">
    <div class="input-append span10">
      {{view Em.TextField class="searchfield span12" valueBinding="query"}}
      <button type="submit" class="btn btn-success" data-search {{action search}}>Search</button>
    </div>
  </form>
</div>
