{{#view "TL.TopbarView"}}
<div id="glossa-name" class="float-left">Glossa</div>
<div id="glossa-logo" class="float-right">
    <img src="http://www.tekstlab.uio.no/nota/img/tllogo_110x24_bw_glowwhite.png" alt="Glossa">
</div>
{{/view}}
