{{#view Glossa.MainBorderLayoutView}}
<!-- begin north region -->
<div id="main-north-region" class="tl-north-region">
    <!-- begin app header -->
    <div id="app-header" class="ui-widget-header">
        <img id="app-logo" {{bindAttr src="logoUrl"}}>
    </div>
    <!-- end app header -->
    <!-- begin top toolbar -->
    <div id="top-toolbar">
        <div id="app-name">Glossa</div>
        {{view Glossa.LoggedInView}}
    </div>
    <!-- end top toolbar -->
</div>
<!-- end north region -->

<!-- begin west region -->
<div id="main-left-sidebar" class="tl-west-region">
    {{view "Glossa.MetadataListView"}}
</div>
<!-- end west region -->

<!-- begin center region -->
<div id="main-center-panel" class="tl-center-region">
    <div class="ui-widget-content">
        AAAA
    </div>
</div>
<!-- end center region -->

<!-- begin south region -->
<div id="main-statusbar" class="tl-south-region ui-widget-header">
    <div id="credits-short">
        Developed by <a href="http://www.hf.uio.no/tekstlab" target="_blank">The Text Laboratory</a>,
        <a href="http://www.uio.no" target="_blank">University of Oslo</a>
    </div>
</div>
<!-- end south region -->
{{/view}}
