<!-- Navbar ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">Glossa</span>
      <ul class="nav">
        <li><a href="#"><%= I18n.t('rglossa.navbar.my_results') %></a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#"><%= I18n.t('rglossa.navbar.log_out') %></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      {{outlet leftSidebar}}

    </div>
    <div class="span9">

        {{outlet corpusInfo}}

        {{outlet search}}

        {{outlet resultToolbar}}
        {{outlet results}}

    </div>
  </div>
</div>
