<!-- Begin navbar ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">Glossa</span>
      <!--
      <ul class="nav">
        <li><a href="#">My results</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#">Log out</a></li>
      </ul>
      -->
    </div>
  </div>
</div>
<!-- End navbar ================================================== -->

{{outlet}}