<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      {{render "corpus/metadata_accordion" metadataCategories}}

    </div>
    <div class="span9">

      {{outlet}}

    </div>
  </div>
</div>
