<div class="container-fluid">
  <div class="row-fluid">
    <div id="left-sidebar" class="span3">

      {{render "corpus/metadata_accordion" metadataCategories}}

    </div>
    <div id="main-content" class="span9">

      {{outlet}}

    </div>
  </div>
</div>
