<div class="container-fluid">

    <div class="row-fluid">
        <div class="span3">
            <button id="hide-criteria-button" class="btn btn-mini" title="Hide search criteria">
                <i class="icon-double-angle-left"> Hide</i>
            </button>
            <button id="show-criteria-button" class="btn btn-mini" style="display:none" title="Show search criteria">
                <i class="icon-double-angle-right"></i> Criteria
            </button>
        </div>
    </div>

    <div class="row-fluid">
        <div id="left-sidebar" class="span3">

          {{render "corpus/metadata_categories" metadataCategories}}

        </div>
        <div id="main-content" class="span9">

          {{outlet}}

        </div>
    </div>
</div>
