<div class="row-fluid corpus-info">
  <div class="span12">
    <div class="well">
      <h2>{{name}}&nbsp;&nbsp;&nbsp;<img src="http://bestclipartblog.com/clipart-pics/book-clip-art-3.png" width="100"></img></h2>
    </div>
  </div>
</div>
